{{#modal-dialog
	title='Game Over'
	onModalHidden='removeModal'
	playAgain='playAgain'
	toMainPage='toMainPage'
	backdrop='static'
	showCancelBtn=false
	showCloseBtn=false
	customButtons=modalButtons}}

	<div {{bind-attr class=":gameover-text gameoverStatus"}}>
		{{gameoverText}}
	</div>
	<div>
		<h4>Game Results</h4>
	</div>
	{{render 'game-results'}}
{{/modal-dialog}}