{{#modal-dialog
	componentName="modal"
	title='Player name'
	backdrop='static'
	customButtons=customModalButtons
	onModalShow='onModalShow'
	onModalHidden='removeModal'
	saveName='saveName'
	showCloseBtn=false}}
	<div>
		<form {{action "submit" on="submit"}}>
			<div class="form-group" {{bind-attr class="isValid::has-error"}}>
				{{input value=playerName
						classNames="form-control input-lg"
						placeholder="Enter your name"}}

				{{#unless isValid}}
					<span class="help-block">{{validationMessage}}</span>
				{{/unless}}
			</div>
		</form>
	</div>
{{/modal-dialog}}